:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-family: Verdana, Arial, sans-serif;
  --primary-font-color: 238, 238, 238;
  --primary-background-color:221, 227, 242;
  --profile-background-color:91, 102, 137;
  --header-background-color:255, 255, 255;
  --header-font-color:0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-font-color: 238, 238, 238;
    --primary-background-color:221, 227, 242;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  color: rgb(var(--primary-font-color));
  background: rgb(var(--primary-background-color));
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 10px 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
